* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  width: 1224px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2.5rem;
}

.col-33 {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER */

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dedede;
  padding: 1.4rem;
}

.navbar {
  display: flex;
  gap: 4rem;
  font-size: 1.5rem;
}

/* MAIN */

main {
  padding: 2rem;
  background-color: #1B4F72;
  flex-grow: 1;
}

main h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.page-body {
  display: flex;
  flex-direction: column;
}

.card-movie {
  background-color: #F5F5F5;
  border-radius: 8px;
  width: 250px;
}

.img-card {
  height: 250px;
  object-position: center;
  border-radius: 8px 8px 0 0;
}

.body-card {
  padding: 0.5rem;
}

.card-movie h3 {
  font-size: 1.2rem;
  color: #333;
}

.card-movie p {
  font-size: 0.9rem;
  color: #555;
  margin: 5px 0;
}

.card-movie strong {
  font-size: 1rem;
  color: #000;
  display: block;
  margin-top: 10px;
}

.card-movie a {
  font-size: 0.9rem;
  color: #007bff;
}

.movie-page {
  display: flex;
  gap: 2rem;
}

.img-page {
  width: 200px;
}

.body-page {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.title {
  color: rgba(212, 255, 0, 0.833);
}

.reviews {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border: 1px solid white;
  border-radius: 8px;
  padding: 8px;
}

.reviews-title {
  margin-top: 2rem;
  color: rgba(212, 255, 0, 0.833);
}

/* FORM */

.form-title {
  margin: 2rem 0;
  text-align: center;
  color: rgba(212, 255, 0, 0.833);
}

form p {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

form button {
  margin-top: 1rem;
}


/* FOOTER */

.main-footer {
  background-color: #ababab;
  padding: 1.4rem;
  text-align: center;
  font-size: 1.8rem;
}